@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,500&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
ul {
    display: flex;
    list-style:none;
}
body{
    background:linear-gradient(270deg,#2f3542,#2f3542);
}
.nav-lists a{
    text-transform:uppercase;
    user-select: none;
    position:relative;
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
    color:white;
    font-size:20px;
}
.nav-lists a:hover{
    color:cyan;
}
#nav-bar{
    z-index:2;
    position:fixed;
    width:100%;
    box-sizing:border-box;
    display: flex;
    justify-content:flex-end;
    background-color:#3B3B98;
    border:2px solid black;
}
.nav-lists li{
    margin-top:10px;
    margin-right:225px;
    padding-bottom:15px;
}
.navbar a:hover{
    text-transform:capitalize;
}


/* Home section  */

#home {
    position:relative;
    display: flex;
    height:800px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:35px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
#home h1{
    color:white;
    font-family: 'Quantico', sans-serif;
}
#home p{
    font-style:italic;
    color:#ff3f34;
    font-family: 'Sanchez', serif;
}
#about{
    background-color:#273c75;
    height:660px;
    width:100%;
}
#about h2{
    user-select: none;
    position:absolute;
    margin-left:6em;
    font-size:90px;
    font-family: 'Lobster', cursive;
    margin-top:0.6em;
    color:#33d9b2;
}
#about p{
    user-select: none;
    font-family: 'Josefin Slab', serif;    
    position:absolute;
    font-weight:600;
    font-size:45px;
    margin-top:5.7em;
    margin-left:40px;
    color:#dcdde1;
}




/* Projects-Section */

.project-img{
    user-select: none;
    margin-top:4rem;
}
#img1{
    height:320px;
    width: 570px;;
}
#img2{
    height:320px;
    width:570px;
}
#projects{
    text-align: center;
    padding:5rem 24rem;
    background-image: linear-gradient(45deg, #870000 50% , black 50%);
}
#projects h2{
    user-select: none;
    font-family: 'Quantico', sans-serif;
    white-space: nowrap;
    color:white;
    width:1000px;
    font-size:60px;
    margin-top:-1rem;
    margin-left:-13rem;
    border-bottom:0.5rem solid ;
}
#projects .projects-container{
   display:flex;
   flex-direction: column;
   white-space:nowrap;
}
.projects-container {
    user-select: none;
    color:white;
}

.project-title{
    margin-left:5.5px;
    margin-top:-3.8px;
    padding-top:12px;
    text-align: center;
    font-family: 'Sanchez', serif;
    font-size:25px;
    width:570px;
    height:50px;
    background: #303841;
    box-shadow: 1px 1px 2px rgba(189, 36, 36, 0.5);
    border-radius: 2px;
}
.code{
    color:#303841;
    transition: color 0.3s ease-out;
}
.project-title:hover .code{
    color:#ff3f34;
}



/* Contact-Section */

.contact-section{
   color:white;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   width: 100%;
   height:100vh;
   padding:0 2rem;
   background-image: linear-gradient(62deg, #130f40 0%, #eb4d4b 100%);
}
.contact-section h2{
  font-size:6rem;
  font-style:italic;
}
.contact-section p{
  font-family: 'Chakra Petch', sans-serif;
  font-size:2rem;
}
.contact-links{
    display:flex;
    justify-content: center;
    width:100%;
    max-width:980px;
    margin-top:3rem;
}
.btn-contact-details{
    transition: transform 0.3s ease-out;
    font-family: 'Chakra Petch', sans-serif;
    user-select:none;
    color:white;
    padding:0 2rem;
    font-size:2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}
.btn-contact-details:hover{
    transform:translateY(10px);
    color:white;
}
footer{
    border-top:4px solid #eb4d4b;
    margin-top:-6rem;
}
